body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  border: none;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7ff7;
}
.input {
  background-color: #c1ffff;
  hight: 300px;
  margin: auto;
}
.complete {
  background-color: bisque;
  margin: auto;
}

.incomplete {
  background-color: #c1ffaf;
  margin: auto;
}
